<!doctype html>
<html th:fragment="layout (template, menu)" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" style="-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;" type="image/x-icon" th:href="@{/resources/images/nav_banner.png}">
    <title>USPTO.gov :: webapp prototype :: Create Account</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--    <link rel="stylesheet" th:href="@{/resources/css/usPTO.css}"/>
--> <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lynnstyles.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.uspto.gov"><img src="images/logo_top.png" alt="US Trade and Patent Office logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Applications / Registration</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu" role="button" aria-haspopup="true" aria-expanded="false">File an Amendment<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Voluntary Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Post Approval/Publication/Post-Notice of Allowance Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Amendment to Allege Use or Statement of Use</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Request to Delete Section 1(b) Basis</a></li>
                  </ul>
                </li>
                <li><a href="#">File a Petition</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Respond to Office Action</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Request for Reconsideration</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File an Extension Request</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Contacts<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Attorney</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Owner</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Correspondence</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Domestic Representative</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delegate</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Request Abandonment</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Post Registration</a></li>
          </ul>
        </li>
        <li><a href="#">Resources</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.uspto.gov/learning-and-resources/account-faqss">FAQs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Lynn Stanikmas<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="https://efilereimagined.com/accounts/dashboard">eFile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/accounts/userHome">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/logout">Sign Out</a></li>
            </ul>
        </li>
        <li><a href="https://my.uspto.gov/" class="orange">MyUSPTO</a></li>
      </ul>
          
          <br style="clear:both">
          
          <ul class="nav navbar-nav navbar-right" id="lowernav">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false" aria-live="assertive">Fees $<span id="displayfees">225</span><span class="caret"></span></a>
              <ul class="dropdown-menu" id="classfees">
                <li id="firstli" aria-live="assertive">Basic Fees $<span>225</span></li>
                <li id="classli" aria-live="assertive">Extra Class Fee $<span>0</span></li>
                <li aria-live="assertive">Total Classes 0</li>
                <li id="lastli" aria-live="assertive">Total Fee $<span>225</span></li>
              </ul>
            </li>
		<!--<li><a href="#">Actions</a></li>
            <li><a href="#">Applications / Registration</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showcontacts"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Managed Contacts</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showfees"><span class="glyphicon glyphicon-usd kerned" aria-hidden="true"></span>Fees</a></li>-->
            <li><a href="#" class="glyphed" data-toggle="popover" id="togglepop" aria-live="assertive"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Show My Mark</a></li>
          </ul>
          <br style="clear:both">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">    
      <div class="row content">
        <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="createaccount">
            <!--START Content Div-->
            <div class="row">
                <div class="col-xs-12 text-left">
                    <h1>Create an Account</h1>
                    <p class="required">Already have an account? <a href="#">Sign in</a></p>
                    <p class="required"><span class="weight600">&#42; = Required</span></p>
                    <!--START Create Account Form-->
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600" id="accountdetails">Account Details</h2>
                        </div>
                        <form method="post" action="" aria-labelledby="accountdetails">
                            <!--START Create Account Form-->
                            <fieldset aria-label="enter account details">
                                <div class="row">
                                  <div class="col-xs-12 col-md-6 form-group form-group-md">
                                      <label for="email">Email address <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="The USPTO will use this email address to send correspondence regarding this application or registration. It is critical to ensure this email address is current." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                                      <input type="email" class="form-control" id="email" aria-describedby="requirements" required>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-lg-4 form-group form-group-md">
                                        <label for="firstname">First name <span class="weight600">&#42;</span></label>
                                        <input type="text" class="form-control" id="firstname" required>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-3 form-group form-group-md">
                                        <label for="middlename">Middle name</label>
                                        <input type="text" class="form-control" id="middlename">
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-lg-5 form-group form-group-md">
                                        <label for="lastname">Last name <span class="weight600">&#42;</span></label>
                                        <input type="text" class="form-control" id="lastname" required>
                                    </div>
                                    <div class="col-xs-4 form-group form-group-md">
                                        <label for="suffix">Suffix</label>
                                        <select class="form-control" id="suffix">
                                          <option value="Select">Select</option>
                                          <option value="Sr.">Sr.</option>
                                          <option value="I">I</option>
                                          <option value="II">II</option>
                                          <option value="III">III</option>
                                          <option value="IV">IV</option>
                                          <option value="V">V</option>
                                          <option value="VI">VI</option>
                                          <option value="Jr.">Jr.</option>
                                          <option value="VII">VII</option>
                                          <option value="VIII">VIII</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-xs-12 col-md-6">
                                    	<div class="row">
                                            <div class="col-xs-12 form-group form-group-md">
                                                <label for="password">Password <span class="weight600">&#42;</span></label>
                                                <input type="text" class="form-control" id="password" required>
                                            </div>
                                            <div class="col-xs-12 form-group form-group-md">
                                                <label for="confirmpassword">Confirm password <span class="weight600">&#42;</span></label>
                                                <input type="text" class="form-control" id="confirmpassword" required>
                                            </div>
                                      	</div>
                                    </div>
                                    <div class="col-xs-12 col-md-6 form-group form-group-md limits">
                                      <ul id="requirements" class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="weight600"> Password Requirements</span>
                                      	<li>Minimum of 12 characters</li>
                                        <li>One uppercase and one lowercase letter</li>
                                        <li>One number and one special character (&#8220;!@#$%^&&#42;()_+-={ }|[ ]\:'';'< >?,./)</li>
                                      </ul>
                                  	</div>
                                </div>
                         	</fieldset>
                            <section class="col-xs-12" aria-label="security questions">
                                <fieldset>
                                    <div class="row">
                                        <div class="card-text noexpand">
                                            <h2 class="card-title weight600">Security Questions</h2>
                                        </div>
                                        <p class="leadtext" id="lead">These questions help us verify your identity.</p>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                    <label for="questionone" class="sr-only">security question one</label> 
                                                    <select class="form-control questions" id="questionone">
                                                        <option value="Select">Select a question <span class="weight600">&#42;</span></option>
                                                        <option value="petcolor">What color was your first pet?</option>
                                                        <option value="bedrooms">How many bedrooms does your house/apartment have?</option>
                                                        <option value="yearmet">During what year did you meet your spouse/partner</option>
                                                        <option value="mothername">What is your mother&#8217;s middle name?</option>
                                                    </select>
                                               </div>
                                               <div class="col-xs-12 col-md-6 form-group form-group-md hidethis">
                                                    <label for="answerone" class="weight600 sr-only">enter your answer to question one</label> 
                                                    <input id="answerone" class="form-control answer" placeholder="Enter your answer *"></textarea>
                                               </div>
                                            </div>
                                        </div>
                                    </div><!--//question 1-->
                                </fieldset>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                    <label for="questiontwo" class="sr-only">security question two</label> 
                                                    <select class="form-control questions" id="questiontwo">
                                                        <option value="Select">Select a question <span class="weight600">&#42;</span></option>
                                                        <option value="petcolor">What is your favorite hobby?</option>
                                                        <option value="bedrooms">What was the name of your first school?</option>
                                                        <option value="yearmet">What is the name of the city/town in which you were born?</option>
                                                        <option value="mothername">What is your favorite comic book hero?</option>
                                                    </select>
                                               </div>
                                               <div class="col-xs-12 col-md-6 form-group form-group-md hidethis">
                                                    <label for="answertwo" class="weight600 sr-only">enter your answer to question two</label> 
                                                    <input id="answertwo" class="form-control answer" placeholder="Enter your answer *"></textarea>
                                               </div>
                                            </div>
                                        </div>
                                    </div><!--//question 2-->
                                </fieldset>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                    <label for="questionthree" class="sr-only">security question three</label> 
                                                    <select class="form-control questions" id="questionthree">
                                                        <option value="Select">Select a question <span class="weight600">&#42;</span></option>
                                                        <option value="petcolor">What was your high school mascot?</option>
                                                        <option value="bedrooms">What is your fatherr&#8217;s middle name?</option>
                                                        <option value="yearmet">What is your all-time favorite sports team?</option>
                                                        <option value="mothername">What was the name of your first pet?</option>
                                                    </select>
                                               </div>
                                               <div class="col-xs-12 col-md-6 form-group form-group-md hidethis">
                                                    <label for="answerthree" class="weight600 sr-only">enter your answer to question three</label> 
                                                    <input id="answerthree" class="form-control answer" placeholder="Enter your answer *"></textarea>
                                               </div>
                                            </div>
                                        </div>
                                    </div><!--//question 2-->
                                </fieldset>
                            </section>
                         	<fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input class="form-check-input checkmark" type="checkbox" value="" tabindex="0" aria-labelledby="termsagree" id="agreement">
                                        <label class="form-check-label form-check form-check-left" for="agreement" id="termsagree"><span class="radio notspecial">I understand and agree with USPTO&#8217;s <a href="https://www.uspto.gov/terms-use-uspto-websites" target="_blank">Terms of Use<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> and <a href="https://www.uspto.gov/privacy-policy" target="_blank">Privacy Policy<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></span></label>
                                    </div>
                                </div>
                            </fieldset>
                        </form><!--END Additional Information Form-->
                    </div><!--END Content Div-->
                  </div>
                  <div class="row">
                    <div class="col-xs-12" role="navigation" aria-label="proceed to next page" id="prevnxt">
                        <button type="button" class="btn btn-sm btn-primary fill next right">Next
                            <div class="round">
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            </div>
                        </button>
                    </div>
                </div>
            </main><!--MAIN-->
        </div><!--END container div-->
        <!--jquery and web jars -->
        <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
        <!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--<script src="../resources/js/jquery.dataTables.min.js"></script>-->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="js/lynnjqueryscript.js"></script>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="uspto-footer-top col-xs-4 col-sm-8 col-md-9 col-lg-9">
                    <div class="uspto-footer-logo col-sm-8">
                        <a href="http://www.uspto.gov">
                            <div class="footer-brand" role="img" aria-label="United States Office of Patent and Trademarks"></div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-3">
                	<div class="row">
                        <div class="col-xs-6">
                            <p><span id="webPolicy">Website policy</span></p>
                        </div>
                        <div class="col-xs-6">
                            <p>Privacy policy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 </body>
</html>
