<template>
	<div class="container-fluid insertform">
      <div class="row content">
        <div class="col-xs-12">
            <!--START Content Div-->
            <div class="row">
                <div class="col-xs-12 text-left">
                    <!--START Owner Information Form-->
                    <div class="card-text noexpand">
                        <h2 class="card-title weight600" id="ownerinfo">Owner Information</h2>
                    </div>
                    <script type="application/javascript" src="js/imports.js"></script>
    				<!--<form method="post" id="sole" action="" aria-labelledby="usentityselected" name="entityform">-->                        	
                    <fieldset aria-labelledby="ownerinfo">
                        <div class="row">
                          <div class="form-group form-group-md col-xs-12 col-lg-7">
                            <label for="ownername"><span class="weight600">&#42;</span>Owner Name</label>
                            <input type="text" class="form-control" id="ownername" name="ownernamefield" th:field="*{firstName}" required>
                          </div>
                          <div class="form-group form-group-md col-xs-12">
                            <p class="weight600">Add additional name if I do business as/or trading under a different name:</p>
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                            <label for="additionalname">Type</label>
                            <select class="form-control" id="type" th:field="*{ownerType}">
                              <option value="Select">Select</option>
                              <option value="DBA">Doing Business As (DBA)</option>
                              <option value="TA">Trading As (TA)</option>
                              <option value="AKA">Also Known As (AKA)</option>
                              <option value="Formerly">Formerly</option>
                            </select>
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4" id="nametype">
                            <label for="nameoftype">Name</label>
                            <input type="text" class="form-control" id="nameoftype" name="nameoftype"><!--needs th:attribute-->
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                            <label for="stateoforg">State of Organization</label>
                            <select class="form-control" id="stateoforg" name="stateoforg">
                              <option value="Select">Select</option>
                              <option value="AL">Alabama</option>
                              <option value="AK">Alaska</option>
                              <option value="AZ">Arizona</option>
                              <option value="CA">California</option>
                              <option value="CO">Colorado</option>
                              <option value="CT">Connecticut</option>
                              <option value="DE">Delaware</option>
                              <option value="FL">Florida</option>
                              <option value="GA">Georgia</option>
                            </select>
                          </div>
                        </div>
                    </fieldset>
                	<!--END Owner Information-->
                    <!--START Sole Proprietor Information-->
                    <div class="card-text noexpand">
                        <h2 class="card-title weight600" id="proprietorinfo">Sole Proprietor Information</h2>
                    </div>
                    <fieldset aria-labelledby="proprietorinfo">
                        <div class="row">
                          <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                            <label for="firstname"><span class="weight600">&#42;</span>First Name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required>
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                            <label for="middlename">Middle Name</label>
                            <input type="text" class="form-control" id="middlename" name="middlename" th:field="*{middleName}">
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                            <label for="lastname"><span class="weight600">&#42;</span>Last Name</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastName}" required>
                          </div>
                          <div class="form-group form-group-md col-xs-6">
                            <label for="suffix">Suffix</label>
                            <select class="form-control" id="suffix" th:field="*{suffix}">
                              <option value="Select">Select</option>
                              <option value="Sr.">Sr.</option>
                              <option value="I">I</option>
                              <option value="II">II</option>
                              <option value="III">III</option>
                              <option value="IV">IV</option>
                              <option value="V">V</option>
                              <option value="VI">VI</option>
                              <option value="Jr.">Jr.</option>
                              <option value="VII">VII</option>
                              <option value="VIII">VIII</option>
                            </select>
                          </div>
                          <div class="form-group form-group-md col-xs-6">
                            <label for="countryofcitizenship">Country of Citizenship</label>
                            <select class="form-control" id="countryofcitizenship" name="countryofcitizenship" th:field="*{ownerCitizenShip}">
                              <option value="Select">Select</option>
                              <option value="United States">United States</option>
                              <option value="Canada">Canada</option>
                            </select>
                          </div>
                     </div>
                </fieldset>
                <!--END Sole Proprietor Information Form-->
                <!--START Owner Address Information Form-->
                <div class="card-text noexpand">
                    <h2 class="card-title weight600" id="addressinfo">Owner Address Information</h2>
                </div>
                <fieldset aria-labelledby="addressinfo">
                    <div class="row">
                      <div class="form-group form-group-md col-xs-12 col-md-6">
                        <label for="email"><span class="weight600">&#42;</span>Email Address <a href="#" data-toggle="tooltip" title="The USPTO will use this email address to send correspondence regarding this application or registration. It is critical to ensure this email address is current." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                        <input type="text" class="form-control" id="email" name="email" th:field="*{ownerEmail}" required>
                      </div>
                      <div class="form-group form-group-md col-xs-12 col-md-6">
                            <label for="territory"><span class="weight600">&#42;</span>Country/US Territory</label>
                            <select class="form-control" id="territory" name="territory" required>
                              <option value="select">Select</option>
                              <option value="United States">United States</option>
                              <option value="Afghanistan">Afghanistan</option>
                              <option value="Albania">Albania</option>
                              <option value="Belgium">Belgium</option>
                              <option value="Brazil">Brazil</option>
                              <option value="Cambodia">Cambodia</option>
                              <option value="Cameroon">Cameroon</option>
                              <option value="Denmark">Denmark</option>
                              <option value="Dominican Republic">Dominican Republic</option>
                            </select>
                      </div>
                      <div class="form-group form-group-md col-md-12 col-lg-8">
                        <label for="addressline1"><span class="weight600">&#42;</span>Address Line 1</label>
                        <input type="text" class="form-control" id="addressline1" name="addressline1" th:field="*{ownerAddress1}" required>
                      </div>
                      <div class="form-group form-group-md col-md-12 col-lg-8">
                        <label for="addressline2">Address Line 2</label>
                        <input type="text" class="form-control" id="addressline2" th:field="*{ownerAddress2}">
                      </div>
                      <div class="form-group form-group-md col-md-12 col-lg-8">
                        <label for="addressline3">Address Line 3</label>
                        <input type="text" class="form-control" id="addressline3" th:field="*{ownerAddress3}">
                      </div>
                      <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                        <label for="city"><span class="weight600">&#42;</span>City</label>
                        <input type="text" class="form-control" id="city" name="city" th:field="*{ownerCity}" required>
                      </div>
                      <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                        <label for="state"><span class="weight600">&#42;</span>State</label>
                        <select class="form-control" id="state" name="state" th:field="*{ownerState}" required>
                          <option value="Select">Select</option>
                          <option value="Virginia">Virginia</option>
                          <option value="Maryland">Maryland</option>
                          <option value="North Carolina">North Carolina</option>
                        </select>
                      </div>
                      <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                        <label for="zipcode"><span class="weight600">&#42;</span>Zip Code</label>
                        <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="XXXXX" th:field="*{ownerZipcode}" required>
                      </div>
                      <div class="form-group form-group-md col-xs-12 col-md-7">
                        <label for="webaddress">Website Address</label>
                        <input type="text" class="form-control" id="webaddress" th:field="*{ownerWebSite}">
                      </div>
                      <div class="row phones">
                         <div class="col-xs-12">
                            <div class="form-group form-group-md col-xs-6 col-sm-3">
                                <label for="phonenumbertype">Phone Type</label>
                                <select class="form-control" id="phonenumbertype">
                                    <option value="Type">Type</option>
                                    <option value="Cell">Cell</option>
                                    <option value="Home">Home</option>
                                    <option value="Work">Work</option>
                                    <option value="Fax">Fax</option>
                                </select>
                            </div>
                            <div class="form-group form-group-md col-xs-6 col-sm-4">
                                <label for="phonenumber">Phone Number</label>
                                <input type="text" class="form-control" id="phonenumber">
                            </div>
                            <div class="form-group form-group-md col-xs-9 col-sm-3">
                                <label for="extension">Ext.</label>
                                <input type="text" class="form-control" id="extension">
                            </div>
                            <div class="col-xs-3 col-sm-2 form-group form-group-md visuallyremoved resetphone2">
                                <button type="button" class="btn btn-sm close resetphonebtn" value="" aria-label="remove this number"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="appendphones"></div>
                    <div class="col-xs-12" aria-label="add additional phone number">
                        <div class="row">
                            <div class="inlinebuttons btn-group btn-group-justified">
                                <div class="btn-group col-xs-6">
                                    <button type="button" class="btn btn-sm btn-success addphoneinitial" id="addphone2" aria-label="add number">Add Number</button>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
            </fieldset>
            <!--END Owner Address Information Form-->
                </div><!--END Content Div-->
            </div><!--MAIN-->
        </div><!--END container div-->
    </div>
</div>
</template>
