<!doctype html>
<html th:fragment="layout (template, menu)" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" style="-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;" type="image/x-icon" th:href="@{/resources/images/nav_banner.png}">

    <title>Owner Information - Sole Proprietorship :: USPTO.gov :: webapp prototype</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--    <link rel="stylesheet" th:href="@{/resources/css/usPTO.css}"/>
--> <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lynnstyles.css">
</head>

<body>
	<div id="skipnav"><a href="#mainContent">Skip navigation</a></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.uspto.gov"><img src="images/logo_top.png" alt="US Trade and Patent Office logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Applications / Registration</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu" role="button" aria-haspopup="true" aria-expanded="false">File an Amendment<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Voluntary Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Post Approval/Publication/Post-Notice of Allowance Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Amendment to Allege Use or Statement of Use</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Request to Delete Section 1(b) Basis</a></li>
                  </ul>
                </li>
                <li><a href="#">File a Petition</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Respond to Office Action</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Request for Reconsideration</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File an Extension Request</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Contacts<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Attorney</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Owner</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Correspondence</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Domestic Representative</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delegate</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Request Abandonment</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Post Registration</a></li>
          </ul>
        </li>
        <li><a href="#">Resources</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.uspto.gov/learning-and-resources/account-faqss">FAQs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Lynn Stanikmas<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="https://efilereimagined.com/accounts/dashboard">eFile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/accounts/userHome">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/logout">Sign Out</a></li>
            </ul>
        </li>
        <li><a href="https://my.uspto.gov/" class="orange">MyUSPTO</a></li>
      </ul>
          
          <br style="clear:both">
          
          <ul class="nav navbar-nav navbar-right" id="lowernav">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false" aria-live="assertive">Fees $<span id="displayfees">225</span><span class="caret"></span></a>
              <ul class="dropdown-menu" id="classfees">
                <li id="firstli" aria-live="assertive">Basic Fees $<span>225</span></li>
                <li id="classli" aria-live="assertive">Extra Class Fee $<span>0</span></li>
                <li aria-live="assertive">Total Classes 0</li>
                <li id="lastli" aria-live="assertive">Total Fee $<span>225</span></li>
              </ul>
            </li>
		<!--<li><a href="#">Actions</a></li>
            <li><a href="#">Applications / Registration</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showcontacts"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Managed Contacts</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showfees"><span class="glyphicon glyphicon-usd kerned" aria-hidden="true"></span>Fees</a></li>-->
            <li><a href="#" class="glyphed" data-toggle="popover" id="togglepop" aria-live="assertive"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Show My Mark</a></li>
          </ul>
          <br style="clear:both">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">    
      <div class="row content">
        <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="mainContent" tabindex="-1">
            <!--START Content Div-->
            <div class="row">
            <div class="col-xs-12 text-left">
                <div class="row">
                	<section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                        	<div class="row displaycell">
                                <div class="col-xs-2 one active">
                                	<div class="row">
                                        <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                            <span>1</span>
                                        </div>
                                        <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                            <p class="first">Your details</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 two">
                                	<div class="row">
                                        <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                            <span>2</span>
                                        </div>
                                        <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                            <p>Trade mark details</p>
                                        </div>
                                   	</div>
                                </div>
                                <div class="col-xs-2 three">
                                	<div class="row">
                                        <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                            <span>3</span>
                                        </div>
                                        <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                            <p>Goods and services</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 four">
                                	<div class="row">
                                        <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                            <span>4</span>
                                        </div>
                                        <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                            <p>Basis</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 five">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                            <span>5</span>
                                        </div>
                                        <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                            <p>Additional info</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 six">
                                	<div class="row">
                                        <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                            <span>6</span>
                                        </div>
                                        <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                            <p>Confirm and pay</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                	</div>
                <h1>Owner Information &#8211; Sole Proprietorship</h1>
              	<p class="required"><span class="weight600">&#42; = Required</span></p>
                <div class="row">
                	<div class="col-xs-12" id="errorslist" tabindex="-1">
                	</div>
                </div>
                <!--START Owner Information Form-->
                    <div class="card-text noexpand">
                        <h2 class="card-title weight600" id="ownerinfo">Owner Information</h2>
                    </div>
                    <form method="post" id="addNewOwnerForm" action="" th:object="${addNewOwnerContactFormDTO}" onsubmit="return checkForm(this);" aria-labelledby="ownerinfo">
                    	<fieldset aria-label="Owner Information">
                            <div class="row">
                              <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-4">
                                <label for="ownername">Owner name <span class="weight600">&#42;</span></label>
                                <input type="text" class="form-control" id="ownername" name="ownername" th:field="*{firstName}" aria-required="true" aria-invalid="false">
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                                <label for="additionalname">Alternate name <a href="#" data-toggle="tooltip" title="Make selection below if the owner is doing business as or trading under a different name." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                                <select class="form-control" id="additionalname" th:field="*{ownerType}">
                                  <option value="Select">Select</option>
                                  <option value="DBA">Doing Business As (DBA)</option>
                                  <option value="TA">Trading As (TA)</option>
                                  <option value="AKA">Also Known As (AKA)</option>
                                  <option value="Formerly">Formerly</option>
                                </select>
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                                <label for="stateoforg">State of organization <span class="weight600">&#42;</span></label>
                                <select class="form-control" id="stateoforg" name="stateoforg" aria-required="true" aria-invalid="false">
                                  <option value="Select">Select</option>
                                  <option value="AL">Alabama</option>
                                  <option value="AK">Alaska</option>
                                  <option value="AZ">Arizona</option>
                                  <option value="CA">California</option>
                                  <option value="CO">Colorado</option>
                                  <option value="CT">Connecticut</option>
                                  <option value="DE">Delaware</option>
                                  <option value="FL">Florida</option>
                                  <option value="GA">Georgia</option>
                                </select>
                              </div>
                            </div>
                      	</fieldset>
                    	<!--END Owner Information Fieldset-->
                        <!--START Sole Proprietor Information Form-->
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600" id="proprietorinfo">Sole Proprietor Information</h2>
                        </div>
                        <fieldset aria-label="Sole Proprietor Information">
                            <div class="row">
                              <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                                <label for="firstname">First name <span class="weight600">&#42;</span></label>
                                <input type="text" class="form-control" id="firstname" name="firstname" aria-required="true" aria-invalid="false">
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                                <label for="middlename">Middle name</label>
                                <input type="text" class="form-control" id="middlename" th:field="*{middleName}">
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                                <label for="lastname">Last name <span class="weight600">&#42;</span></label>
                                <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastName}" aria-required="true" aria-invalid="false">
                              </div>
                              <div class="form-group form-group-md col-xs-6">
                                <label for="suffix">Suffix</label>
                                <select class="form-control" id="suffix" th:field="*{suffix}">
                                  <option value="Select">Select</option>
                                  <option value="Sr.">Sr.</option>
                                  <option value="I">I</option>
                                  <option value="II">II</option>
                                  <option value="III">III</option>
                                  <option value="IV">IV</option>
                                  <option value="V">V</option>
                                  <option value="VI">VI</option>
                                  <option value="Jr.">Jr.</option>
                                  <option value="VII">VII</option>
                                  <option value="VIII">VIII</option>
                                </select>
                              </div>
                              <div class="form-group form-group-md col-xs-6">
                                <label for="countryofcitizenship">Country of citizenship</label>
                                <select class="form-control" id="countryofcitizenship" th:field="*{ownerCitizenShip}">
                                  <option value="United States">United States</option>
                                  <option value="Canada">Canada</option>
                                </select>
                              </div>
                         </div>
                   	</fieldset><!--END Sole Proprietor Information Fieldset-->
                	<!--START Owner Address Information Form-->
                    <div class="card-text noexpand">
                        <h2 class="card-title weight600" id="addressinfo">Owner Address Information</h2>
                    </div>
                    <fieldset aria-label="Owner Address Information">
                    	<div class="row">
                          <div class="form-group form-group-md col-xs-12 col-lg-7">
                            <label for="territory">Country/US territory <span class="weight600">&#42;</span></label>
                            <select class="form-control" id="territory" name="territory" aria-required="true" aria-invalid="false">
                              <option value="United States">United States</option>
                              <option value="Afghanistan">Afghanistan</option>
                              <option value="Albania">Albania</option>
                              <option value="Belgium">Belgium</option>
                              <option value="Brazil">Brazil</option>
                              <option value="Cambodia">Cambodia</option>
                              <option value="Cameroon">Cameroon</option>
                              <option value="Denmark">Denmark</option>
                              <option value="Dominican Republic">Dominican Republic</option>
                            </select>
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-lg-8">
                            <label for="addressline1">Address line 1 <span class="weight600">&#42;</span></label>
                            <input type="text" class="form-control" id="addressline1" name="addressline1" th:field="*{ownerAddress1}" aria-required="true" aria-invalid="false">
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-lg-8">
                            <label for="addressline2">Address line 2</label>
                            <input type="text" class="form-control" id="addressline2" th:field="*{ownerAddress2}">
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-lg-8">
                            <label for="addressline3">Address line 3</label>
                            <input type="text" class="form-control" id="addressline3" th:field="*{ownerAddress3}">
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                            <label for="city">City <span class="weight600">&#42;</span></label>
                            <input type="text" class="form-control" id="city" name="city" th:field="*{ownerCity}" aria-required="true" aria-invalid="false">
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                            <label for="state">State <span class="weight600">&#42;</span></label>
                            <select class="form-control" id="state" name="state" th:field="*{ownerState}" aria-required="true" aria-invalid="false">
                              <option value="Select">Select</option>
                              <option value="Virginia">Virginia</option>
                              <option value="Maryland">Maryland</option>
                              <option value="North Carolina">North Carolina</option>
                            </select>
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                            <label for="zipcode">Zip code <span class="weight600">&#42;</span></label>
                            <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="XXXXX" th:field="*{ownerZipcode}" aria-required="true" aria-invalid="false">
                          </div>
                       	</div>
                      </fieldset><!--END Owner Address Information Form-->
                	<!--START Additional Information Form-->
                    <div class="card-text noexpand">
                        <h2 class="card-title weight600" id="additionalinfo">Additional Information</h2>
                    </div>
                    <fieldset aria-label="Additional Information">
                    	<div class="row">
                          <div class="form-group form-group-md col-xs-12 col-md-6">
                            <label for="email">Email address <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="The USPTO will use this email address to send correspondence regarding this application or registration. It is critical to ensure this email address is current." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                            <input type="email" class="form-control" id="email" th:field="*{ownerEmail}" aria-required="true" aria-invalid="false">
                          </div>
                          <div class="form-group form-group-md col-xs-12 col-md-6">
                            <label for="webaddress">Website address</label>
                            <input type="url" class="form-control" id="webaddress" th:field="*{ownerWebSite}">
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-4">
                                    <label for="phonenumbertype">Phone type</label>
                                    <select class="form-control" id="phonenumbertype">
                                      <option value="Type">Type</option>
                                      <option value="Cell">Cell</option>
                                      <option value="Home">Home</option>
                                      <option value="Work">Work</option>
                                      <option value="Fax">Fax</option>
                                    </select>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-md-6 col-lg-6">
                                    <label for="phonenumber">Phone number</label>
                                    <input type="tel" class="form-control" id="phonenumber" th:field="*{ownerPhone}">
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-md-2 col-lg-2">
                                    <label for="extension">Ext.</label>
                                    <input type="text" class="form-control" id="extension">
                                  </div>
                             </div>
                          </div>
                        </div>
                      </fieldset><!--END Additional Information Form-->
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="form-group form-group-md col-xs-12" aria-label="submit">
                                <div class="col-xs-12">
                                	<button type="submit" class="btn-sm btn-success add ctr" name="Submit" value="Owner Info Submitted">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div><!--END Content Div-->
              </div>
              <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next" onclick="clearerrors()">Next 
                        <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                </div>
            </div>
        </main><!--MAIN-->
 	</div><!--END container div-->
      
        <!--jquery and web jars -->
        <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--<script src="../resources/js/jquery.dataTables.min.js"></script>-->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="js/lynnjqueryscript.js"></script>
        <script type="application/javascript" src="js/validate.js"></script>
		<script type="application/javascript">
			function checkForm(theForm) {
				var why = "";
				why  = checkText(theForm.ownername.value, "owner name");
				var ownernameval = document.getElementById("ownername").value;
				var highlightownername = document.getElementById("ownername");
					if (ownernameval) {
						var highlightownername = document.getElementById("ownername");
						document.getElementById("ownername").classList.remove("highlighted");
						highlightownername.classList.remove("highlighted");
						highlightownername.setAttribute("aria-invalid", "false");
						}
					if (ownernameval.length == 0) {
					highlightownername.classList.add("highlighted");
					highlightownername.setAttribute("aria-invalid", "true");
					}
				why += checkDropdown(theForm.stateoforg.selectedIndex, "state of organization");				
				var stateoforgval = document.getElementById("stateoforg").selectedIndex;
				var highlightstateoforg = document.getElementById("stateoforg");
					if (stateoforgval > 0) {
						var highlightstateoforg = document.getElementById("stateoforg");
						document.getElementById("stateoforg").classList.remove("highlighted");
						highlightstateoforg.classList.remove("highlighted");
						highlightstateoforg.setAttribute("aria-invalid", "false");
						}
					if (stateoforgval < 1) {
					highlightstateoforg.classList.add("highlighted");
					highlightstateoforg.setAttribute("aria-invalid", "true");
					}
				why += checkText(theForm.firstname.value, "first name");
				var firstnameval = document.getElementById("firstname").value;
				var highlightfirstname = document.getElementById("firstname");
					if (firstnameval) {
						var highlightfirstname = document.getElementById("firstname");
						document.getElementById("firstname").classList.remove("highlighted");
						highlightfirstname.classList.remove("highlighted");
						highlightfirstname.setAttribute("aria-invalid", "false");
						}
					if (firstnameval.length == 0) {
					highlightfirstname.classList.add("highlighted");
					highlightfirstname.setAttribute("aria-invalid", "true");
					}
				why += checkText(theForm.lastname.value, "last name");
				var lastnameval = document.getElementById("lastname").value;
				var highlightlastname = document.getElementById("lastname");
					if (lastnameval) {
						var highlightlastname = document.getElementById("lastname");
						document.getElementById("lastname").classList.remove("highlighted");
						highlightlastname.classList.remove("highlighted");
						highlightlastname.setAttribute("aria-invalid", "false");
						}
					if (lastnameval.length == 0) {
					highlightlastname.classList.add("highlighted");
					highlightlastname.setAttribute("aria-invalid", "true");
					}
				why += checkDropdown(theForm.territory.selectedIndex, "country/US territory");
				var territoryval = document.getElementById("territory").selectedIndex;
				var highlightterritory = document.getElementById("territory");
					if (territoryval > 0) {
						var highlightterritory = document.getElementById("territory");
						document.getElementById("territory").classList.remove("highlighted");
						highlightterritory.classList.remove("highlighted");
						highlightterritory.setAttribute("aria-invalid", "false");
						}
					if (territoryval < 1) {
					highlightterritory.classList.add("highlighted");
					highlightterritory.setAttribute("aria-invalid", "true");
					}
				why += checkText(theForm.addressline1.value, "address line 1");
				var addressline1val = document.getElementById("addressline1").value;
				var highlightaddressline1 = document.getElementById("addressline1");
					if (addressline1val) {
						var highlightaddressline1 = document.getElementById("addressline1");
						document.getElementById("addressline1").classList.remove("highlighted");
						highlightaddressline1.classList.remove("highlighted");
						highlightaddressline1.setAttribute("aria-invalid", "false");
						}
					if (addressline1val.length == 0) {
					highlightaddressline1.classList.add("highlighted");
					highlightaddressline1.setAttribute("aria-invalid", "true");
					}
				why += checkText(theForm.city.value, "city");
				var cityval = document.getElementById("city").value;
				var highlightcity = document.getElementById("city");
					if (cityval) {
						var highlightcity = document.getElementById("city");
						document.getElementById("city").classList.remove("highlighted");
						highlightcity.classList.remove("highlighted");
						highlightcity.setAttribute("aria-invalid", "false");
						}
					if (cityval.length == 0) {
					highlightcity.classList.add("highlighted");
					highlightcity.setAttribute("aria-invalid", "true");
					}
				why += checkDropdown(theForm.state.selectedIndex, "state");
				var stateval = document.getElementById("state").selectedIndex;
				var highlightstate = document.getElementById("state");
					if (stateval > 0) {
						var highlightstate = document.getElementById("state");
						document.getElementById("state").classList.remove("highlighted");
						highlightstate.classList.remove("highlighted");
						highlightstate.setAttribute("aria-invalid", "false");
						}
					if (stateval < 1) {
					highlightstate.classList.add("highlighted");
					highlightstate.setAttribute("aria-invalid", "true");
					}
				why += checkText(theForm.zipcode.value, "zip code");
				var zipcodeval = document.getElementById("zipcode").value;
				var highlightzipcode = document.getElementById("zipcode");
					if (zipcodeval) {
						var highlightzipcode = document.getElementById("zipcode");
						document.getElementById("zipcode").classList.remove("highlighted");
						highlightzipcode.classList.remove("highlighted");
						highlightzipcode.setAttribute("aria-invalid", "false");
						}
					if (zipcodeval.length == 0) {
					highlightzipcode.classList.add("highlighted");
					highlightzipcode.setAttribute("aria-invalid", "true");
					}
				why += checkText(theForm.email.value, "email address");
				var emailval = document.getElementById("email").value;
				var highlightemail = document.getElementById("email");
					if (emailval) {
						var highlightemail = document.getElementById("email");
						document.getElementById("email").classList.remove("highlighted");
						highlightemail.classList.remove("highlighted");
						highlightemail.setAttribute("aria-invalid", "false");
						}
					if (emailval.length == 0) {
					highlightemail.classList.add("highlighted");
					highlightemail.setAttribute("aria-invalid", "true");
					}
					if (why != "") {
						var textnode = "The form is not complete. Please enter the following information.\n" + why;
						var node = document.createElement("ul");
						node.innerHTML = (textnode);
						document.getElementById("errorslist").appendChild(node);
						document.getElementById("errorslist").focus();
						document.getElementById("errorslist").tabIndex = "-1";
						window.scrollTo(0, 0);
						var c = document.getElementById("errorslist").childElementCount;
						if (c > 1) {
							document.getElementById("errorslist").firstElementChild.remove();
						}
						node.setAttribute('aria-invalid', 'true');						
						return false;
					} 
					else {
				return true;
				}
		}
        </script>        
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="uspto-footer-top col-xs-4 col-sm-8 col-md-9 col-lg-9">
                    <div class="uspto-footer-logo col-sm-8">
                        <a href="http://www.uspto.gov">
                            <div class="footer-brand" role="img" aria-label="United States Office of Patent and Trademarks"></div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-3">
                	<div class="row">
                        <div class="col-xs-6">
                            <p><span id="webPolicy">Website policy</span></p>
                        </div>
                        <div class="col-xs-6">
                            <p>Privacy policy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
