<!doctype html>
<html th:fragment="layout (template, menu)" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" style="-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;" type="image/x-icon" th:href="@{/resources/images/nav_banner.png}">

    <title>USPTO.gov :: webapp prototype :: Select Mark</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<!--    <link rel="stylesheet" th:href="@{/resources/css/usPTO.css}"/>
--> <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lynnstyles.css">
</head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.uspto.gov"><img src="images/logo_top.png" alt="US Trade and Patent Office logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#w">Applications / Registration</a></li>
            <li><a href="#">Actions</a></li>
            <li><a href="#">Resources</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://www.uspto.gov/learning-and-resources/account-faqss">FAQs</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lynn Stanikmas<span class="caret"></span></a>
            	<ul class="dropdown-menu">
                    <li><a href="https://efilereimagined.com/accounts/dashboard">eFile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://efilereimagined.com/accounts/userHome">Account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://efilereimagined.com/logout">Sign Out</a></li>
              	</ul>
            </li>
            <li><a href="https://my.uspto.gov/" class="orange">MyUSPTO</a></li>
          </ul>
          
          <br style="clear:both">
          
          <ul class="nav navbar-nav navbar-right" id="lowernav">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-live="assertive">Fees $<span id="displayfees">225</span><span class="caret"></span></a>
              <ul class="dropdown-menu" id="classfees">
                <li id="firstli" aria-live="assertive">Basic Fees $<span>225</span></li>
                <li id="classli" aria-live="assertive">Extra Class Fee $<span>0</span></li>
                <li aria-live="assertive">Total Classes 0</li>
                <li id="lastli" aria-live="assertive">Total Fee $<span>225</span></li>
              </ul>
            </li>
		<!--<li><a href="#">Actions</a></li>
            <li><a href="#">Applications / Registration</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showcontacts"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Managed Contacts</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showfees"><span class="glyphicon glyphicon-usd kerned" aria-hidden="true"></span>Fees</a></li>-->
            <li><a href="#" class="glyphed" data-toggle="popover" id="togglepop" aria-live="assertive"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Show My Mark</a></li>
          </ul>
          <br style="clear:both">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
          
        <div class="container-fluid">    
          <div class="row content">
            <main class="col-xs-12 col-sm-8 col-lg-7">
                <!--START Content Div-->
                <div class="row">
                	<div class="col-xs-12 text-left">
                        <div class="row">
                            <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                                <div class="row displaycell">
                                    <div class="col-xs-2 one done">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>1</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p class="first">Your details</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 two active">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>2</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Trade mark details</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 three">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>3</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Goods and services</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 four">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>4</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Basis</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 five">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>5</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Additional info</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 six">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>6</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Confirm and pay</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        	</section>
                        </div>
                  		<h1>Trademark Details</h1>                
                      	<p class="required"><span class="weight600">&#42; = Required</span></p>
                            <!--START Application Type-->
                                    <div class="card-text">
                                        <div role="heading" aria-level="2">
                                            <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#marktype" aria-controls="marktype" aria-expanded="false" id="marktypebtn"><span class="glyphicon glyphicon-triangle-right"></span><span id="toggleglyphcolor" class="glyphicon glyphicon-triangle-bottom visuallyremoved"></span> Mark Type</button>
                                        </div>
                                    </div>
                                    <div id="marktype" class="collapse Accordion-panel" role="region" aria-labelledby="marktypebtn">
                                        <div class="Accordion">
                                            <p>Trademarks and service marks: Are generally words, symbols, designs, or combinations of these. Marks are often brand names; they work to identify the sources of goods or services, showing that they come from particular manufacturers or sellers. Trademarks are for goods, which are physical things that are sold to others, like shoes. Service marks are for services that are provided to others, like tax preparation services.</p>
                                        </div>
                                    </div>
                                    <p id="typemark">What type of mark are you applying for? (Note: to file a certifiation mark, you must deselect all other mark types) <a href="#" data-toggle="tooltip" title="" class="glyphicon glyphicon-info-sign test" data-placement="right" data-original-title="Trademarks and service marks: Are generally words, symbols, designs, or combinations of these. Marks are often brand names; they work to identify the sources of goods or services, showing that they come from particular manufacturers or sellers. Trademarks are for goods, which are physical things that are sold to others, like shoes.  Service marks are for services that are provided to others, like tax preparation services."></a></p>
                               <fieldset>
                                    <legend>Select the type of mark you are applying for</legend>
                                    <div><!-- Button trigger modal -->
                                        <input class="form-check-input checkmark" type="checkbox" value="Trademark / Servicemark" role="checkbox" tabindex="0" aria-labelledby="tradeserv2" id="tradeserv">
                                        <label class="form-check-label form-check" for="tradeserv" id="tradeserv2"><span class="radio notspecial">Trademark / Servicemark</span></label>
                                    </div>
                                    <div role="heading" aria-level="3">
                                        <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#markoptions" aria-controls="markoptions" aria-expanded="false" id="optionsbtn"><span class="glyphicon glyphicon-triangle-right"></span><span  class="toggleglyph glyphicon glyphicon-triangle-bottom visuallyremoved"></span> Expand for uncommon mark types</button>
                                    </div>
                                    <div id="markoptions" class="collapse Accordion-panel" role="region" aria-labelledby="optionsbtn">
                                        <div class="Accordion form-group form-group-md">
                                            <input class="form-check-input checkmark" type="checkbox" value="Certification" tabindex="0" aria-labelledby="certificationcheck" id="certcheck">
                                            <label class="form-check-label form-check hasinfo" for="certcheck" id="certcheck2"><span class="radio notspecial" id="certificationcheck">Certification</span></label><a href="#" data-toggle="modal" data-target="#tradeservmodal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" aria-label="more info about certification marks"></span></a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="tradeservmodal" tabindex="0" role="dialog" aria-labelledby="certmodallabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="certmodallabel">Certification Mark</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <p>A certification mark is a type of trademark that is used to show consumers that particular goods and/or services, or their providers, have met certain standards. (<a href="https://tmep.uspto.gov/RDMS/TMEP/current#/current/TMEP-1300d1e585.html" target="_blank">See TMEP Section 1306<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>)</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <input class="form-check-input checkmark" type="checkbox" value="Collective" tabindex="0" id="collectcheck" aria-labelledby="collect">
                                            <label class="form-check-label form-check hasinfo" for="collectcheck" id="collectcheck2"><span class="radio notspecial" id="collect">Collective</span></label><a href="#" data-toggle="modal" data-target="#collectivemodal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" aria-label="more info about collective marks"></span></a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="collectivemodal" tabindex="0" role="dialog" aria-labelledby="collectmodallabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="collectmodallabel">Collective Mark</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <p>A collective mark is mark used by members of a collective organization to identify their goods and/or services and distinguish them from the goods and/or services of non-members. (<a href="https://tmep.uspto.gov/RDMS/TMEP/current#/current/TMEP-1300d1e347.html" target="_blank">See TMEP Section 1303</a><span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>)</p>                                           
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <input class="form-check-input checkmark" type="checkbox" value="Collective Membership" tabindex="0" aria-labelledby="collectm" id="collectmember">
                                            <label class="form-check-label form-check hasinfo" for="collectmember" id="collectm2"><span class="radio notspecial" id="collectm">Collective Membership</span></label><a href="#" data-toggle="modal" data-target="#collectivemembmodal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" aria-label="more info about collective membership marks"></span></a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="collectivemembmodal" tabindex="0" role="dialog" aria-labelledby="collectmemberlabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="collectmemberlabel">Collective Membership Mark</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <p>A collective membership mark is a mark used by the members of a particular organization to signify that they are members of that organization (e.g., a social club or labor union). (<a href="https://tmep.uspto.gov/RDMS/TMEP/current#/current/TMEP-1300d1e417.html" target="_blank">See TMEP Section 1304</a><span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>)</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Close</button>
                                                  </div>
                                               </div>
                                           	</div>
                                      	</div>
                                        <p>Which of the following types best describes the mark you want to apply for?</p>
                                      </div>
                                 	</div>
                                </fieldset>
                                <script type="application/javascript" src="js/accordion.js"></script>
                                <script type="application/javascript" src="js/checkbox.js"></script>
                                <script type="application/javascript" src="js/btn_checkbox.js"></script>
                              <!--END Application Type-->
                        </div><!--END RADIO container-->
                    </div><!--END row-->
                    <!--START Tiles-->
                    <div class="container-fluid">
                        <div class="row" id="panels">
                                <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="panel panel-default">
                                                       <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <h3>Standard Character</h3>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <a href="marks_examples.html#standard" target="_blank" class="right">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                            </div>
                                                        </div>
                                                       </div>
                                                       <div class="panel-body nocontent match" role="button" aria-label="select standard character mark">
                                                          <div class="col-xs-5">
                                                            <img src="images/FontAwesome47-2.png" alt="" class="img-responsive"> 
                                                          </div>
                                                          <div class="col-xs-7">
                                                              <p class="right">Text only, with no particular stylization or font</p>
                                                          </div>
                                                      </div>
                                                   </div>
                                                </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="panel panel-default">
                                                   <div class="panel-heading">
                                                       <div class="row">
                                                            <div class="col-xs-8">
                                                                <h3>Stylized</h3>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <a href="marks_examples.html#stylized" target="_blank" class="right">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                            </div>
                                                        </div>
                                                   </div>
                                                   <div class="panel-body nocontent" role="button" aria-label="select stylized mark">
                                                      <div class="col-xs-5">
                                                        <img src="images/abc_lobster.gif" alt="" class="img-responsive"> 
                                                      </div>
                                                      <div class="col-xs-7">
                                                          <p class="right">Text in a particular style or font</p>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="panel panel-default">
                                                   <div class="panel-heading">
                                                       <div class="row">
                                                            <div class="col-xs-8">
                                                                <h3>Design Only</h3>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <a href="marks_examples.html#designonly" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                            </div>
                                                        </div>
                                                   </div>
                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                      <div class="col-xs-12">
                                                        <img src="images/RetinaIcon-2.png" alt="" class="img-responsive"> 
                                                      </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="panel panel-default">
                                                   <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <h3>Design with Text</h3>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <a href="marks_examples.html#designwithtext" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                            </div>
                                                        </div>
                                                   </div>
                                                   <div class="panel-body nocontent" role="button" aria-label="select design with text mark">
                                                      <div>
                                                        <img src="images/RetinaIcon-3.png" alt="" class="img-responsive"> 
                                                      </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--START Hide / Show Additional Mark Examples-->
                                        <div class="row">
                                            <div class="col-xs-12 text-left">
                                                <div id="moremarkoptions" class="collapse Accordion-panel" role="region" aria-labelledby="moreoptionsbtn">
                                                    <div class="Accordion">                                            
                                                       <div class="row"> 
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <h3>Configuration 3D</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <a href="marks_examples.html#configuration3d" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                            </div>
                                                                        </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/RetinaIcon_1.svg" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <div class="row">
                                                                            <div class="col-xs-8" style="padding-right: 0;">
                                                                                <h3>Configuration 3D with Text</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <a href="marks_examples.html#configuration3dtext" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                            </div>
                                                                       </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/RetinaIcon_2.svg" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                    <div class="row">
                                                                        <div class="col-xs-8">
                                                                            <h3>Sound</h3>
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <a href="marks_examples.html#sound" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                        </div>
                                                                   </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/PixleIcon_1.svg" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                    <div class="row">
                                                                        <div class="col-xs-8">
                                                                            <h3>Sound Composite</h3>
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <a href="marks_examples.html#soundcomposite" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                        </div>
                                                                   </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/PixleIcon_2.svg" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                    <div class="row">
                                                                        <div class="col-xs-8">
                                                                            <h3>Scent</h3>
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <a href="marks_examples.html#scent" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                        </div>
                                                                   </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/nose-c-52601-jpg.jpg" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <h3>Tactile</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                            <a href="marks_examples.html#tactile" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                            </div>
                                                                       </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/yuo-04-e-11-d-jpg.jpg" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                        <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <h3>Color Only</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <a href="marks_examples.html#coloronly" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                            </div>
                                                                       </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/col-7864-bc-jpg.gif" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <h3>Motion</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <a href="marks_examples.html#motion" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                            </div>
                                                                       </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/adf-d-8-e-123-jpg.gif" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <h3>Motion with Text</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <a href="marks_examples.html#motionwithtext" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> 
                                                                            </div>
                                                                       </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div>
                                                                        <img src="images/adf-d-8-e-123-jpg_2.gif" alt="" class="img-responsive"> 
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <div class="row">
                                                                            <div class="col-xs-8">
                                                                                <h3>Other</h3>
                                                                            </div>
                                                                            <div class="col-xs-4">
                                                                                <a href="marks_examples.html#other" target="_blank" class="right align-middle">Examples<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                                                                            </div>
                                                                       </div>
                                                                   </div>
                                                                   <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                                      <div class="col-xs-5">
                                                                        <!--<img src="images/RetinaIcon-3.png" alt="" class="img-responsive">--> 
                                                                      </div>
                                                                      <div class="col-xs-7">
                                                                      </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div role="heading" aria-level="3">
                                                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#moremarkoptions" aria-controls="markoptions" aria-expanded="false" id="moreoptionsbtn">See More Types</button>
                                            </div>
                                       	</div>
                                  	</div>
                              	</div>
                        	</div><!--END row-->
                    	</div><!--END panels row-->
                  	</div>
                    <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next">Next 
                                <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                        </div>
                    </div>
             	</main>
        	</div><!--END Tiles row-->
      	</div><!--END container div-->
          
                    <!--jquery and web jars -->
            <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
            <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
            <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <!--<script src="../resources/js/jquery.dataTables.min.js"></script>-->
            <script type="application/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
            <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script type="application/javascript" src="js/lynnjqueryscript.js"></script>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="uspto-footer-top col-xs-4 col-sm-8 col-md-9 col-lg-9">
                        <div class="uspto-footer-logo col-sm-8">
              				<a href="http://www.uspto.gov">
                            	<div class="footer-brand" role="img" aria-label="United States Office of Patent and Trademarks"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-3">
                	<div class="row">
                        <div class="col-xs-6">
                            <p><span id="webPolicy">Website policy</span></p>
                        </div>
                        <div class="col-xs-6">
                            <p>Privacy policy</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </footer>
    </body>
</html>
