<!doctype html>
<html th:fragment="layout (template, menu)" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" style="-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;" type="image/x-icon" th:href="@{/resources/images/nav_banner.png}">

    <title>USPTO.gov :: webapp prototype :: Owner Information - Corporation</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<!--    <link rel="stylesheet" th:href="@{/resources/css/usPTO.css}"/>
--> <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lynnstyles.css">
   
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.uspto.gov"><img src="images/logo_top.png" alt="US Trade and Patent Office logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Applications / Registration</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu" role="button" aria-haspopup="true" aria-expanded="false">File an Amendment<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Voluntary Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Post Approval/Publication/Post-Notice of Allowance Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Amendment to Allege Use or Statement of Use</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Request to Delete Section 1(b) Basis</a></li>
                  </ul>
                </li>
                <li><a href="#">File a Petition</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Respond to Office Action</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Request for Reconsideration</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File an Extension Request</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Contacts<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Attorney</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Owner</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Correspondence</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Domestic Representative</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delegate</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Request Abandonment</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Post Registration</a></li>
          </ul>
        </li>
        <li><a href="#">Resources</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.uspto.gov/learning-and-resources/account-faqss">FAQs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Lynn Stanikmas<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="https://efilereimagined.com/accounts/dashboard">eFile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/accounts/userHome">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/logout">Sign Out</a></li>
            </ul>
        </li>
        <li><a href="https://my.uspto.gov/" class="orange">MyUSPTO</a></li>
      </ul>
          
          <br style="clear:both">
          
          <ul class="nav navbar-nav navbar-right" id="lowernav">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false" aria-live="assertive">Fees $<span id="displayfees">225</span><span class="caret"></span></a>
              <ul class="dropdown-menu" id="classfees">
                <li id="firstli" aria-live="assertive">Basic Fees $<span>225</span></li>
                <li id="classli" aria-live="assertive">Extra Class Fee $<span>0</span></li>
                <li aria-live="assertive">Total Classes 0</li>
                <li id="lastli" aria-live="assertive">Total Fee $<span>225</span></li>
              </ul>
            </li>
		<!--<li><a href="#">Actions</a></li>
            <li><a href="#">Applications / Registration</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showcontacts"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Managed Contacts</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showfees"><span class="glyphicon glyphicon-usd kerned" aria-hidden="true"></span>Fees</a></li>-->
            <li><a href="#" class="glyphed" data-toggle="popover" id="togglepop" aria-live="assertive"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Show My Mark</a></li>
          </ul>
          <br style="clear:both">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">    
      <div class="row content">
        <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
            <!--START Content Div-->
            <div class="row">
                <div class="col-xs-12 text-left">
                    <div class="row">
                        <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                                <div class="row displaycell">
                                    <div class="col-xs-2 one active">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>1</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p class="first">Your details</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 two">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>2</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Trade mark details</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 three">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>3</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Goods and services</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 four">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>4</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Basis</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 five">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>5</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Additional info</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 six">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span>6</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p>Confirm and pay</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <h1>Owner Information &#8211; Corporation</h1>
                        <p class="leadtext weight600">All filing information is made public, including your name and address. You may provide a P.O. Box number or a business address instead of your home address, if accurate. Please see <a href="https://www.uspto.gov/trademarks-application-process/filing-online/all-trademark-data-public" target="_blank">disclosure public information<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>.</p>
                        <p class="required"><span class="weight600">&#42; = Required</span></p>
                        <!--START Owner Information Form-->
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600" id="ownerinfo">Owner Information</h2>
                        </div>
                        <form method="post" id="addNewOwnerForm" action="/owner/add" th:object="${addNewOwnerContactFormDTO}" aria-labelledby="ownerinfo">
                            <fieldset aria-labelledby="ownerinfo">
                                <div class="row">
                                  <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-4">
                                    <label for="ownername">Owner name <span class="weight600">&#42;</span></label>
                                    <input type="text" class="form-control" id="ownername" th:field="*{firstName}" required>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                                    <label for="type">Type</label>
                                    <select class="form-control" id="type" th:field="*{ownerType}">
                                      <option value="Select">Select</option>
                                      <option value="DBA">Doing Business As (DBA)</option>
                                      <option value="TA">Trading As (TA)</option>
                                      <option value="AKA">Also Known As (AKA)</option>
                                      <option value="Formerly">Formerly</option>
                                    </select>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                                    <label for="countryoforg">Country of incorporation <span class="weight600">&#42;</span></label>
                                    <select class="form-control" id="countryoforg" required>
                                      <option value="Select">Select</option>
                                      <option value="bahamas">Bahamas</option>
                                      <option value="mexico">Mexico</option>
                                      <option value="canada">Canada</option>
                                    </select>
                                  </div>
                                </div>
                            </fieldset><!--END Owner Information Fieldset-->
                            <!--START Owner Address Information Fieldset-->
                            <div class="card-text noexpand">
                                <h2 class="card-title weight600" id="addressinfo">Owner Address Information</h2>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-md col-xs-12 col-md-6">
                                    <label for="email">Email address <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="The USPTO will use this email address to send correspondence regarding this application or registration. It is critical to ensure this email address is current." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                                    <input type="email" class="form-control" id="email" th:field="*{ownerEmail}" required>
                                </div>
                            </div>
                            <fieldset aria-labelledby="addressinfo">
                                <div class="row">
                                  <div class="form-group form-group-md col-xs-12 col-lg-7">
                                    <label for="territory">Country/US territory</label>
                                    <select class="form-control" id="territory">
                                      <option value="United States">United States</option>
                                      <option value="Afghanistan">Afghanistan</option>
                                      <option value="Albania">Albania</option>
                                      <option value="Bahamas">Bahamas</option>
                                      <option value="Belgium">Belgium</option>
                                      <option value="Brazil">Brazil</option>
                                      <option value="Cambodia">Cambodia</option>
                                      <option value="Cameroon">Cameroon </option>
                                      <option value="Denmark">Denmark</option>
                                      <option value="Dominican Republic">Dominican Republic</option>
                                    </select>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-lg-8">
                                    <label for="addressline1">Address line 1 <span class="weight600">&#42;</span></label>
                                    <input type="text" class="form-control" id="addressline1" th:field="*{ownerAddress1}" required>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-lg-8">
                                    <label for="addressline2">Address line 2</label>
                                    <input type="text" class="form-control" id="addressline2" th:field="*{ownerAddress2}">
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-lg-8">
                                    <label for="addressline3">Address line 3</label>
                                    <input type="text" class="form-control" id="addressline3" th:field="*{ownerAddress3}">
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                                    <label for="city">City <span class="weight600">&#42;</span></label>
                                    <input type="text" class="form-control" id="city" th:field="*{ownerCity}" required>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                                    <label for="state">State/Province/Territory <span class="weight600">&#42;</span></label>
                                    <input type="text" class="form-control" id="state" th:field="*{ownerState}" required>
                                  </div>
                                  <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                                    <label for="zipcode">Zip code <span class="weight600">&#42;</span></label>
                                    <input type="text" class="form-control" id="zipcode" placeholder="XXXXX" th:field="*{ownerZipcode}" required>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group form-group-md col-xs-12 col-md-6">
                                            <label for="webaddress">Website address</label>
                                            <input type="url" class="form-control" id="webaddress" th:field="*{ownerWebSite}">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row phones">
                                    <div class="col-xs-12">
                                        <div class="form-group form-group-md col-xs-6 col-sm-3">
                                            <label for="phonenumbertype">Phone type</label>
                                            <select class="form-control" id="phonenumbertype">
                                            <option value="Type">Type</option>
                                            <option value="Cell">Cell</option>
                                            <option value="Home">Home</option>
                                            <option value="Work">Work</option>
                                            <option value="Fax">Fax</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-group-md col-xs-6 col-sm-4">
                                            <label for="phonenumber">Phone number</label>
                                            <input type="tel" class="form-control" id="phonenumber">
                                        </div>
                                        <div class="form-group form-group-md col-xs-9 col-sm-3">
                                            <label for="extension">Ext.</label>
                                            <input type="text" class="form-control" id="extension">
                                        </div>
                                        <div class="col-xs-3 col-sm-2 form-group form-group-md visuallyremoved resetphone2">
                                            <button type="button" class="btn btn-sm close resetphonebtn" value="" aria-label="remove this number"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appendphones"></div>
                                <div class="form-group form-group-md col-xs-12" aria-label="add additional phone number">
                                    <div class="row">
                                        <div class="inlinebuttons btn-group btn-group-justified">
                                            <div class="btn-group col-xs-6">
                                                <button type="button" class="btn btn-sm btn-success addphoneinitial" id="addphone2" aria-label="add number">Add Number</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          	</fieldset>
                        </form><!--END Owner Address Information Fieldset-->
                    </div><!--END Content Div-->
                </div>
                <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next">Next 
                       	<div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                    </div>
                </div>
            </main><!--MAIN-->
    	</div><!--END container div-->
      
        <!--jquery and web jars -->
        <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
        <!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--<script src="../resources/js/jquery.dataTables.min.js"></script>-->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="js/lynnjqueryscript.js"></script>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="uspto-footer-top col-xs-4 col-sm-8 col-md-9 col-lg-9">
                    <div class="uspto-footer-logo col-sm-8">
                        <a href="http://www.uspto.gov">
                            <div class="footer-brand" role="img" aria-label="United States Office of Patent and Trademarks"></div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-3">
                	<div class="row">
                        <div class="col-xs-6">
                            <p><span id="webPolicy">Website policy</span></p>
                        </div>
                        <div class="col-xs-6">
                            <p>Privacy policy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
