<!doctype html>
<html th:fragment="layout (template, menu)" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" style="-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;" type="image/x-icon" th:href="@{/resources/images/nav_banner.png}">

    <title>Petition to Revive Abandoned Application Statement of Use (SOU) | 2 Month No Extension :: USPTO.gov :: webapp prototype</title>
    <!--SOU scenario 1 (2month - no exten)-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--    <link rel="stylesheet" th:href="@{/resources/css/usPTO.css}"/>
--> <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="usPTO.css">-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/lynnstyles.css">
</head>

<body>
	<div id="skipnav"><a href="#mainContent">Skip navigation</a></div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.uspto.gov"><img src="images/logo_top.png" alt="US Trade and Patent Office logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Applications / Registration</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu" role="button" aria-haspopup="true" aria-expanded="false">File an Amendment<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Voluntary Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Post Approval/Publication/Post-Notice of Allowance Amendment</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Amendment to Allege Use or Statement of Use</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Request to Delete Section 1(b) Basis</a></li>
                  </ul>
                </li>
                <li><a href="#">File a Petition</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Respond to Office Action</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Request for Reconsideration</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File an Extension Request</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Contacts<span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li><a href="#">Attorney</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Owner</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Correspondence</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Domestic Representative</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delegate</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Request Abandonment</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">File Post Registration</a></li>
          </ul>
        </li>
        <li><a href="#">Resources</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.uspto.gov/learning-and-resources/account-faqss">FAQs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Lynn Stanikmas<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="https://efilereimagined.com/accounts/dashboard">eFile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/accounts/userHome">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://efilereimagined.com/logout">Sign Out</a></li>
            </ul>
        </li>
        <li><a href="https://my.uspto.gov/" class="orange">MyUSPTO</a></li>
      </ul>
          
          <br style="clear:both">
          
          <ul class="nav navbar-nav navbar-right" id="lowernav">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false" aria-live="assertive">Fees $<span id="displayfees">225</span><span class="caret"></span></a>
              <ul class="dropdown-menu" id="classfees">
                <li id="firstli" aria-live="assertive">Basic Fees $<span>225</span></li>
                <li id="classli" aria-live="assertive">Extra Class Fee $<span>0</span></li>
                <li aria-live="assertive">Total Classes 0</li>
                <li id="lastli" aria-live="assertive">Total Fee $<span>225</span></li>
              </ul>
            </li>
		<!--<li><a href="#">Actions</a></li>
            <li><a href="#">Applications / Registration</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showcontacts"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Managed Contacts</a></li>-->
            <!--<li><a href="#" class="glyphed" id="showfees"><span class="glyphicon glyphicon-usd kerned" aria-hidden="true"></span>Fees</a></li>-->
            <li><a href="#" class="glyphed" data-toggle="popover" id="togglepop" aria-live="assertive"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Show My Mark</a></li>
          </ul>
          <br style="clear:both">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  
<div class="container-fluid">    
  	<div class="row content" id="petitions2">
        <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="mainContent" tabindex="-1">
          <!--START Content Div-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Petition to Revive Abandoned Application</h1>
                            <h2 class="leadtext weight600">Failure to File Timely Statement of Use or Extension Request</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                	<div class="card-text">
                                        <div role="heading" aria-level="2">
                                            <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#applicationdata" aria-controls="applicationdata" aria-expanded="true" id="appdatabtn"><span class="glyphicon glyphicon-triangle-right visuallyremoved"></span><span class="glyphicon glyphicon-triangle-bottom"></span> Application Data</button>
                                        </div>
                                    </div>
                                    <div id="applicationdata" class="collapse Accordion-panel in" role="region" aria-labelledby="appdatabtn">
                                      	<div class="row">
                                            <div class="col-xs-12">
                                                <p>You will be able to update your information in the next section if needed.</p>
                                            </div>
                                        </div>
                                        <div class="Accordion">
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-lg-4">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="row underlinerow">
                                                                            <div class="col-xs-12">
                                                                                <h3 class="weight600">Mark information</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Serial number</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p><a href="#" target="_blank">87697840<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Mark literal</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>PK Prep</p>
                                                                    </div> 
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Mark image</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <img src="images/standardcharacter_alt2.gif" class="img-thumbnail" alt="your mark image">                                                         			
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Goods/Services</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p><a href="#" class="disabled">View goods/services</a></p>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Filing type</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p><span class="uppercase">teas rf</span></p>
                                                                    </div>   
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-lg-4">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="row underlinerow">
                                                                            <div class="col-xs-12">
                                                                                <h3 class="weight600">Owner</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Owner of record</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>Pittsburgh Penguins <span class="uppercase">lp</span></p>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Email address</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p class="email">pittsburgh&#64;penguins.com</p>
                                                                    </div> 
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Entity type</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>Limited Partnership</p>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Owner address</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>1001 Fifth Avenue<br>
                                                                        Pittsburgh, PA 15219</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-lg-4">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <div class="row underlinerow">
                                                                            <div class="col-xs-12">
                                                                                <h3 class="weight600">Attorney</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Attorney of record</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>Clark W. Lackert</p>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Attorney firm</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>Reed Smith <span class="uppercase">llp</span></p>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Docket/reference number</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p>259802.20006</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--// app data-->
                                     	</div>
                                 	</div>
                                    <form action="" method="post">
                                        <fieldset aria-label="acknowledgement">
                                            <p class="weight600">In order to revive the application please read and acknowledge the following statement:</p>
                                            <div class="form-group form-group-md">
                                                <input class="form-check-input checkmark" type="checkbox" value="acceptrevives1" tabindex="0" aria-labelledby="acceptrevive" id="useracceptrevive" name="user-accept-checkbox">
                                                <label class="form-check-label form-check form-check-left" for="useracceptrevive" id="acceptrevive"><span class="radio notspecial">In submitting this petition, the signatory confirms that he/she has firsthand knowledge that the failure to respond to the Office Action by the specified deadline was unintentional; and requests the USPTO to revive the abandoned application.</span></label>
                                            </div>
                                            <p class="weight600" id="recnote">Did you receive the Notice of Allowance issued on 7/26/2017?</p>
                                            <div role="radiogroup" aria-describedby="recnote" class="form-group form-group-md">
                                                <label for="inlineRadio0102" class="radio-inline radiocontainer"><input type="radio" name="actionradio" id="inlineRadio0102" value="yesreceived" tabindex="0"><span class="checkmark"></span>Yes</label>
                                                <label for="inlineRadio0103" class="radio-inline radiocontainer"><input type="radio" name="actionradio" id="inlineRadio0103" value="noreceived" tabindex="0"><span class="checkmark"></span>No</label>
                                            </div>
                                        </fieldset>
                                        <div id="reviveappform" role="alert">
                                            <div id="requestnoa" role="alert">
                                                <fieldset aria-label="request new notice of allowance">
                                                <p class="weight600" id="reqnoa">Would you like UPSTO to issue a new Notice of Allowance?</p>
                                                    <div role="radiogroup" class="form-group form-group-md" aria-describedby="reqnoa">
                                                        <label for="inlineRadio0104" class="radio-inline radiocontainer block"><input type="radio" name="reqallowance" id="inlineRadio0104" value="yesreqallowance" tabindex="0"><span class="checkmark"></span>Yes, I want the Notice of Allowance re-issued</label>
                                                        <label for="inlineRadio0105" class="radio-inline radiocontainer block"><input type="radio" name="reqallowance" id="inlineRadio0105" value="noreqallowance" tabindex="0"><span class="checkmark"></span>No, I want to file an Extension Request and/or a Statement of Use now</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="expedite" role="alert">
                                                <fieldset aria-label="select petition signature method">
                                                    <div class="card-text noexpand">
                                                        <h2 class="card-title weight600">Petition&#8217;s Signature</h2>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group form-group-md col-xs-12">
                                                            <label for="petitionsign">How are you signing the petition?</label> 
                                                            <select class="form-control signmethod" id="petitionsign" onchange="showTheTime()">
                                                                <option value="Select">Select Signature Method</option>
                                                                <option value="direct">Sign directly</option>
                                                                <option value="handwritten" disabled>Print and upload handwritten signature</option>
                                                                <option value="send" disabled>Send to second party for signature</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-12 form-group form-group-md direct">
                                                            <div class="row hidethis">
                                                                <section aria-label="sign">
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signature">Signature <a href="#" data-toggle="tooltip" title="" class="glyphicon glyphicon-info-sign test" data-placement="right" data-original-title="To electronically sign the application enter any combination of alpha numeric characters between two forward slash symbols (/); e.g., /jane smith/, /rdr/, or /127/)."></a></label>
                                                                        <input type="text" class="form-control" placeholder="/Signature/" id="signature" required>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="datesigned">Date signed: <span id="tz" class="sr-only"> </span></label>
                                                                        <textarea rows="1" class="form-control disabled datesigned" id="datesigned" disabled> </textarea>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signatoryname">Signatory&#8217;s name</label>
                                                                        <input type="text" class="form-control" id="signatoryname" required>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-9 col-lg-6">
                                                                        <label for="signatoryphone">Signatory&#8217;s phone number</label>
                                                                        <input type="tel" class="form-control" id="signatoryphone">
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signatoryposition">Signatory&#8217;s position</label>
                                                                        <input type="text" class="form-control" id="signatoryposition" required>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div><!--//expedite-->
                                            <div id="fees" role="alert">
                                                <fieldset aria-label="fees agreement">
                                                <p class="weight600" id="agreefee">Do you want to file a Statement of Use with the fees for the missing Extension Request that must be filed directly within this form?</p>
                                                    <div role="radiogroup" class="form-group form-group-md" aria-describedby="agreefee">
                                                        <label for="inlineRadio0108" class="radio-inline radiocontainer"><input type="radio" name="fees" id="inlineRadio0108" value="yesfees" tabindex="0"><span class="checkmark"></span>Yes</label>
                                                        <label for="inlineRadio0109" class="radio-inline radiocontainer"><input type="radio" name="fees" id="inlineRadio0109" value="nofees" tabindex="0"><span class="checkmark"></span>No</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="xreq" role="alert">
                                                <fieldset aria-label="file a request for extension">
                                                    <div class="card-text noexpand">
                                                        <h2 class="card-title weight600">Extension Request</h2>
                                                    </div>
                                                    <div class="panel-group">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <p class="extensions weight600">Extension Request(s) Due:</span> <span class="weight600">First,</span> <span class="weight600">Second</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="souquestion" role="alert">
                                                        <p class="weight600" id="filesou">Did you want to file a Statement of Use?</p>
                                                        <div role="radiogroup" class="form-group form-group-md" aria-describedby="filesou">
                                                            <label for="inlineRadio0106" class="radio-inline radiocontainer"><input type="radio" name="souradio" id="inlineRadio0106" value="yesou" tabindex="0"><span class="checkmark"></span>Yes</label>
                                                            <label for="inlineRadio0107" class="radio-inline radiocontainer"><input type="radio" name="souradio" id="inlineRadio0107" value="nosou" tabindex="0"><span class="checkmark"></span>No</label>
                                                        </div>
                                                 	</div>
                                                </fieldset>
                                            </div>
                                            <div id="reconsideration">
                                                <fieldset aria-label="enter statement of use information">
                                                 	<div class="form-group form-group-md">
                                                        <div class="card-text noexpand">
                                                            <h2 class="card-title weight600" aria-labelledby="ttabreq">Statement of Use</h2>
                                                        </div>
													</div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group form-group-md">
                                                                <img name="Placeholder" src="#" width="100%" height="50" alt="SOU placeholder" style="background-color: #ddd">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-md">
                                                        <div class="card-text noexpand">
                                                            <h2 class="card-title weight600">Statement of Use Signature</h2>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <label for="petitionsigntwo">How are you signing the Statement of Use?</label> 
                                                            <select class="form-control signmethod" id="petitionsigntwo" onchange="showTheTimeTwo()">
                                                                <option value="Select">Select Signature Method</option>
                                                                <option value="direct">Sign directly</option>
                                                                <option value="handwritten" disabled>Print and upload handwritten signature</option>
                                                                <option value="send" disabled>Send to second party for signature</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-12 form-group form-group-md direct">
                                                            <div class="row hidethis">
                                                                <section aria-label="sign">
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="reconsignature">Signature <a href="#" data-toggle="tooltip" title="" class="glyphicon glyphicon-info-sign test" data-placement="right" data-original-title="To electronically sign the application enter any combination of alpha numeric characters between two forward slash symbols (/); e.g., /jane smith/, /rdr/, or /127/)."></a></label>
                                                                        <input type="text" class="form-control" placeholder="/Signature/" id="reconsignature" required>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="recondatesigned">Date signed: <span id="tz2" class="sr-only"> </span></label>
                                                                        <textarea rows="1" class="form-control datesigned disabled" id="recondatesigned" disabled> </textarea>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="reconsignatoryname">Signatory&#8217;s name</label>
                                                                        <input type="text" class="form-control" id="reconsignatoryname" required>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-9 col-lg-6">
                                                                        <label for="reconsignatoryphone">Signatory&#8217;s phone number</label>
                                                                        <input type="tel" class="form-control" id="reconsignatoryphone">
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="reconsignatoryposition">Signatory&#8217;s position</label>
                                                                        <input type="text" class="form-control" id="reconsignatoryposition" required>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                          	</div>                   
                     	</div>
                      </div>
                      <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next">Next 
                            <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                        </div>
                    </div>
              	</div>
			</div>
        </main>
    </div><!--END div content-->
</div><!--END div container-->
		    <!--jquery and web jars -->
    <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!--<script src="../resources/js/jquery.dataTables.min.js"></script>-->
    <script type="application/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/accordion.js"></script>
	<script type="application/javascript" src="js/checkbox.js"></script>
	<script type="application/javascript" src="js/radio.js"></script>
    <script type="application/javascript" src="js/btn_checkbox.js"></script>
    <script type="application/javascript" src="js/lynnjqueryscript.js"></script>
    <script type="application/javascript" src="js/timestamp.js"></script>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="uspto-footer-top col-xs-4 col-sm-8 col-md-9 col-lg-9">
                <div class="uspto-footer-logo col-sm-8">
                    <a href="http://www.uspto.gov">
                        <div class="footer-brand" role="img" aria-label="United States Office of Patent and Trademarks"></div>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-3">
            	<div class="row">
                    <div class="col-xs-6">
                        <span id="webPolicy"><p>Website Policy</p></span>
                    </div>
                    <div class="col-xs-6">
                        <p>Privacy Policy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
