<template>
	<div class="container-fluid insertform">
      <div class="row content">
        <div class="col-xs-12">
            <!--START Content Div-->
            <div class="row">
                <div class="col-xs-12 text-left">
                    <!--START Owner Information Form-->
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600" id="ownerinfo">Owner Name Information</h2>
                        </div>
                        <script type="application/javascript" src="js/imports.js"></script>
                            <!--<form method="post" id="individual" action="" name="entityform">
                                <fieldset aria-labelledby="ownerinfo">-->
                                   <div class="row">
                                      <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                                        <label for="firstname">First name <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="If the owner only has one name, insert the words First Name Unavailable (FNU) in the first name field and the name to be entered in the surname field." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                                        <input type="text" class="form-control" id="firstname" name="firstname" required>
                                      </div>
                                      <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                                        <label for="middlename">Middle name</label>
                                        <input type="text" class="form-control" id="middlename" name="middlename" th:field="*{middleName}">
                                      </div>
                                      <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                                        <label for="lastname">Last name <span class="weight600">&#42;</span></label>
                                        <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastName}" required>
                                      </div>
                                      <div class="form-group form-group-md col-xs-6">
                                        <label for="suffix">Suffix</label>
                                        <select class="form-control" id="suffix" th:field="*{suffix}">
                                          <option value="select">Select</option>
                                          <option value="Sr.">Sr.</option>
                                          <option value="I">I</option>
                                          <option value="II">II</option>
                                          <option value="III">III</option>
                                          <option value="IV">IV</option>
                                          <option value="V">V</option>
                                          <option value="VI">VI</option>
                                          <option value="Jr.">Jr.</option>
                                          <option value="VII">VII</option>
                                          <option value="VIII">VIII</option>
                                        </select>
                                      </div>
                                      <div class="form-group form-group-md col-xs-12">
                                        <p class="weight600">Add additional name if I do business as/or trading under a different name:</p>
                                      </div>
                                      <div class="form-group form-group-md col-xs-6">
                                        <label for="type">Type</label>
                                        <select class="form-control" id="type"><!--Needs th:attribute-->
                                          <option value="select">Select</option>
                                          <option value="dba">Doing Business As (DBA)</option>
                                          <option value="ta">Trading As (TA)</option>
                                          <option value="aka">Also Known As (AKA)</option>
                                          <option value="formerly">Formerly</option>
                                        </select>
                                      </div>
                                      <div class="form-group form-group-md col-xs-6" id="nametype">
                                        <label for="nameoftype">Name</label>
                                        <input type="text" class="form-control" id="nameoftype" name="nameoftype"><!--needs th:attribute-->
                                      </div>
                                      <div class="form-group form-group-md col-xs-7">
                                        <label for="countryofcitizenship">Country of citizenship <a href="#" data-toggle="tooltip" title="If you have dual citizenship only enter the citizenship you would like printed in the Official Gazette." class="glyphicon glyphicon-info-sign test" data-placement="right"></a> <span class="label label-info subtle visuallyremoved" aria-describedby="#costsavingoptions">Reduced Fee</span></label>
                                        <select class="form-control" id="countryofcitizenship" name="countryofcitizenship" th:field="*{ownerCitizenShip}">
                                          <option value="Select">Select</option>
                                          <option value="United States">United States</option>
                                          <option value="Canada">Canada</option>
                                        </select>
                                      </div>
                                 </div>
                            </fieldset>
                        <!--END Sole Proprietor Information Form-->
                        <!--START Owner Address Information Form-->
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600" id="addressinfo">Owner Address Information</h2>
                        </div>
                        <fieldset aria-labelledby="addressinfo">
                            <div class="row">
                              <div class="form-group form-group-md col-xs-12 col-md-6 col-lg-7">
                                <label for="email">Email address <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="The USPTO will use this email address to send correspondence regarding this application or registration. It is critical to ensure this email address is current." class="glyphicon glyphicon-info-sign test" data-placement="right"></a></label>
                                <input type="email" class="form-control" id="email" name="email" th:field="*{ownerEmail}" required>
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-6 col-lg-7">
                                <label for="territory">Country/US Territor <span class="weight600">&#42;</span>y</label>
                                <select class="form-control" id="territory" name="territory" required>
                                  <option value="select">Select</option>
                                  <option value="United States">United States</option>
                                  <option value="Afghanistan">Afghanistan</option>
                                  <option value="Albania">Albania</option>
                                  <option value="Belgium">Belgium</option>
                                  <option value="Brazil">Brazil</option>
                                  <option value="Cambodia">Cambodia</option>
                                  <option value="Cameroon">Cameroon</option>
                                  <option value="Denmark">Denmark</option>
                                  <option value="Dominican Republic">Dominican Republic</option>
                                </select>
                              </div>
                              <div class="form-group form-group-md col-md-12 col-lg-8">
                                <label for="addressline1">Address line 1 <span class="weight600">&#42;</span></label>
                                <input type="text" class="form-control" id="addressline1" name="addressline1" th:field="*{ownerAddress1}" required>
                              </div>
                              <div class="form-group form-group-md col-md-12 col-lg-8">
                                <label for="addressline2">Address line 2</label>
                                <input type="text" class="form-control" id="addressline2" th:field="*{ownerAddress2}">
                              </div>
                              <div class="form-group form-group-md col-md-12 col-lg-8">
                                <label for="addressline3">Address line 3</label>
                                <input type="text" class="form-control" id="addressline3" th:field="*{ownerAddress3}">
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                                <label for="city">City <span class="weight600">&#42;</span></label>
                                <input type="text" class="form-control" id="city" name="city" th:field="*{ownerCity}" required>
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                                <label for="state">State <span class="weight600">&#42;</span></label>
                                <select class="form-control" id="state" name="state" th:field="*{ownerState}" required>
                                  <option value="Select">Select</option>
                                  <option value="Virginia">Virginia</option>
                                  <option value="Maryland">Maryland</option>
                                  <option value="North Carolina">North Carolina</option>
                                </select>
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                                <label for="zipcode">Zip code <span class="weight600">&#42;</span></label>
                                <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="XXXXX" th:field="*{ownerZipcode}" required>
                              </div>
                              <div class="form-group form-group-md col-xs-12 col-md-7">
                                <label for="webaddress">Website address</label>
                                <input type="url" class="form-control" id="webaddress" th:field="*{ownerWebSite}">
                              </div>
                              <div class="row phones">
                                 <div class="col-xs-12">
                                    <div class="form-group form-group-md col-xs-6 col-sm-3">
                                        <label for="phonenumbertype">Phone type</label>
                                        <select class="form-control" id="phonenumbertype">
                                            <option value="Type">Type</option>
                                            <option value="Cell">Cell</option>
                                            <option value="Home">Home</option>
                                            <option value="Work">Work</option>
                                            <option value="Fax">Fax</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-group-md col-xs-6 col-sm-4">
                                        <label for="phonenumber">Phone number</label>
                                        <input type="text" class="form-control" id="phonenumber">
                                    </div>
                                    <div class="form-group form-group-md col-xs-9 col-sm-3">
                                        <label for="extension">Ext.</label>
                                        <input type="text" class="form-control" id="extension">
                                    </div>
                                    <div class="col-xs-3 col-sm-2 form-group form-group-md visuallyremoved resetphone2">
                                        <button type="button" class="btn btn-sm close resetphonebtn" value="" aria-label="remove this number"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="appendphones"></div>
                            <div class="form-group form-group-md col-xs-12" aria-label="add additional phone number">
                                <div class="row">
                                    <div class="inlinebuttons btn-group btn-group-justified">
                                        <div class="btn-group col-xs-6">
                                            <button type="button" class="btn btn-sm btn-success addphoneinitial" id="addphone2" aria-label="add number">Add Number</button>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                          </div>
                        </fieldset><!--END Owner Address Information Form-->
                    </div><!--END Content Div-->
        		</div><!--MAIN-->
      		</div><!--END container div-->
   		</div>
	</div>
</template>